@using Microsoft.AspNet.Identity
@{ 
    var session = new Model.DTO.UserSession();
    if (Session[Models.Common.Constants.USER_SESSION] != null) { session = (Model.DTO.UserSession)Session[Models.Common.Constants.USER_SESSION]; }
}
@if (session.UserName!="")
{

    
@Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/User/History">Lịch sử mua hàng</a>
    </li>
    <li><a href="/User/Logout">Đăng xuất</a></li>
</ul>
    
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Đăng nhập", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Đăng ký", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
</ul>
}
