<div>@model List<CafeOnline.Models.CartItem>
    <p>
        Chào mừng đến với website cafe <span>Giỏ hàng:</span>
        <div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
            <ul class="dropdown">
                <li></li>
            </ul>
        </div>
    </p>
</div>
