
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="accordion2" class="bg-gray pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="accordion accordion-2" id="accordion02">
                    <!-- Panel 01 -->
                    <div class="panel">
                        <div class="panel--heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-1">Thông Tin Khách Hàng</a>
                        </div>
                        <div id="collapse02-1" class="panel--body panel-collapse collapse in">
                            <div class="menu menu-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <!-- Dish #6 -->
                                            <div class="dish-panel">
                                                <h3 class="dish--title">Tên Khách Hàng:</h3>
                                                <h3 class="dish--title">Số Điện Thoại:</h3>
                                                <h3 class="dish--title">Địa Chỉ Giao:</h3>
                                                <h3 class="dish--title">Ghi Chú:</h3>
                                            </div>
                                            <!-- .dish end -->
                                        </div>
                                        <!-- .col-md-4 end -->
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <!-- Dish #7 -->
                                            <div class="dish-panel">
                                                <span class="dish--price">Trần Huy</span><br />
                                                <span class="dish--price">0399002999</span><br />
                                                <span class="dish--price">85 Hoàng Văn Thụ</span><br />
                                                <span class="dish--price">Bình Thường</span>
                                            </div>
                                            <!-- .dish end -->
                                        </div>
                                        <!-- .col-md-4 end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel--heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-2">Hóa Đơn</a>
                        </div>
                        <div id="collapse02-2" class="panel--body panel-collapse collapse">
                            <div class="menu menu-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <!-- Dish #6 -->
                                            <div class="dish-panel">
                                                <h3 class="dish--title">Số Hóa Đơn:</h3>
                                                <h3 class="dish--title">Ngày Xuất:</h3>
                                            </div>
                                            <!-- .dish end -->
                                        </div>
                                        <!-- .col-md-4 end -->
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <!-- Dish #7 -->
                                            <div class="dish-panel">
                                                <span class="dish--price">05</span><br />
                                                <span class="dish--price">21/12/2018</span><br />
                                            </div>
                                            <!-- .dish end -->
                                        </div>
                                        <!-- .col-md-4 end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel--heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-3">Thành Tiền</a>
                        </div>
                        <div id="collapse02-3" class="panel--body panel-collapse collapse">
                            <div class="menu menu-1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <!-- Dish #6 -->
                                            <div class="dish-panel">
                                                <h3 class="dish--title">Thành Tiền:</h3>
                                                <h3 class="dish--title">Mã Giảm Giá:</h3><br />
                                                <h3 class="dish--title">Phí Vận Chuyển:</h3>
                                                <h3 class="dish--title">Thành Tiền:</h3>
                                                <p class="dish--desc">(Đã bao gồm VAT)</p>
                                            </div>
                                            <!-- .dish end -->
                                        </div>
                                        <!-- .col-md-4 end -->
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <!-- Dish #7 -->
                                            <div class="dish-panel">
                                                <span class="dish--price">500.000VNĐ</span><br />
                                                <span class="dish--price">50.000 VNĐ</span><br />
                                                <p class="dish--desc">Giảm 10%</p>
                                                <span class="dish--price">20.000 VNĐ</span><br />
                                                <span class="dish--price">470.000 VNĐ</span>

                                            </div>
                                            <!-- .dish end -->
                                        </div>
                                        <!-- .col-md-4 end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- .container end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .Accordion-->
            </div>
            <!-- .col-md-8 end -->
            
        </div>
        <!-- .row end -->   
    </div>
    <!-- .container end -->
</section>
<section class="bg-white">
    <div class="container">
        <div class="row mb-50">
            <div class="col-xs-12 col-sm-12 col-md-3">

            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-12 col-md-2">

            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-12 col-md-3">

            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-12 col-md-2">
                <a class="btn btn--primary btn--rounded" href="#">Xác Nhận</a>
            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-12 col-md-2">

            </div>
            <!-- .col-md-3 end -->
        </div>
        <!-- .row end -->


    </div>
    <!-- .container end -->
</section>




